@import '../../variables/variables.scss';

@mixin container-style {
    font-family: $main-font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-right: 32px;
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-top: 70px;
}

.container {
    @include container-style();
    color: $system-secondary;
}
.containerDark {
    @include container-style();
    color: $contexual-white;
}

.paginationButtonContainer {
    display: flex;
    div {
        margin-right: 30px;
    }
}

.btnContainer {
    display: flex;
    cursor: pointer;
    div:hover {
        color: $system-primary;
    }
}

@mixin btn-styles {
    width: 24px;
    height: 24px;
}

.btnPrev {
    @include btn-styles();
    margin-right: 10px;
    background-image: url(../../images/prev-button.png);
}
.btnPrev:hover {
    background-image: url(../../images/button-next-hover.png);
    transform: rotate(180deg);
}
.btnPrevDark {
    @include btn-styles();
    margin-right: 10px;
    background-image: url(../../images/button-next-dark.png);
    transform: rotate(180deg)
}
.btnPrevDark:hover {
    background-image: url(../../images/button-next-hover.png);
    transform: rotate(180deg);
}
.btnNext {
    @include btn-styles();
    margin-left: 10px;
    background-image: url(../../images/next-button.png);
}

.btnNext:hover {
    background-image: url(../../images/button-next-hover.png);
}

.btnNextDark {
    @include btn-styles();
    margin-left: 10px;
    background-image: url(../../images/button-next-dark.png);
}

.btnNextDark:hover {
    background-image: url(../../images/button-next-hover.png);
}
