@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$system-primary: #6C1BDB;
$system-primary-alt: #912EF2;
$system-secondary: #313037;
$secondary-medium: rgba(49, 48, 55, 0.5);
$secondary-light: rgba(49, 48, 55, 0.3);
$secondary-extra-light: rgba(49, 48, 55, 0.1);
$contexual-error: #FD3419;
$contexual-white: #FFFFFF;
$contexual-gray: #F3F3F3;
$main-font-family: 'Inter', sans-serif;