@import '../../variables/variables.scss';


@mixin container-styles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    .authContainer {
        width: 240px;
        min-height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.container {
    @include container-styles();
    background-color: $contexual-white;
    .authContainer {
        border-left: 2px solid rgba(243, 243, 243, 1)
    }
}

.containerDark {
    @include container-styles();
    background: rgba(255, 255, 255, 0.1);
    color: $contexual-white;
    .authContainer {
        border-left: 2px solid #313037
    }
}

.image {
    width: 167px;
    height: 56px;
    background-image: url(../../images/Logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 100%;
}

