@import './variables/variables.scss';

@mixin app-wrapper-styles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100dvh;
}

.app-wrapper {
    @include app-wrapper-styles();
    background-color: $contexual-gray;
}
.app-wrapper-dark {
    @include app-wrapper-styles();
    background-color: $system-secondary;
}